* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.content-center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
.mt-4 {
  margin-top: 40px;
}
h3.title {
  text-align: center;
  padding: 20px 0;
  font-size: 1.5em;
  color: #777;
}
